.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
lip-stick-dev-admin
*.suo
*.ntvs*
*.njsproj
*.sln
版本备份/dist/static/css/app.0f69f92ef4b0eabb90ef40ff99a108b8.css
版本备份/dist/static/css/app.0f69f92ef4b0eabb90ef40ff99a108b8.css.map
版本备份/dist/static/css/app.4ed98f7355b51f4ada22c5979b372d17.css
版本备份/dist/static/css/app.4ed98f7355b51f4ada22c5979b372d17.css.map
版本备份/dist/static/css/app.5308d253704422f462fba50fc8fba28d.css
版本备份/dist/static/css/app.5308d253704422f462fba50fc8fba28d.css.map
版本备份/dist/static/css/app.aeeffad2a54dc4f4e4f8f96e281aaa32.css
版本备份/dist/static/css/app.aeeffad2a54dc4f4e4f8f96e281aaa32.css.map
版本备份/dist/static/fonts/element-icons.6f0a763.ttf
版本备份/dist/static/img/bg.6ba9a04.jpg
版本备份/dist/static/js/app.a94d370f79916e586d47.js
版本备份/dist/static/js/app.a94d370f79916e586d47.js.map
版本备份/dist/static/js/app.c1449f2490ff528b19ea.js
版本备份/dist/static/js/app.c1449f2490ff528b19ea.js.map
版本备份/dist/static/js/app.cc6382b972cd653d0e6a.js
版本备份/dist/static/js/app.cc6382b972cd653d0e6a.js.map
版本备份/dist/static/js/app.f839278ac3eb0dd96dc2.js
版本备份/dist/static/js/app.f839278ac3eb0dd96dc2.js.map
版本备份/dist/static/js/manifest.3ad1d5771e9b13dbdad2.js
版本备份/dist/static/js/manifest.3ad1d5771e9b13dbdad2.js.map
版本备份/dist/static/js/vendor.d5f1789c40079e183d48.js
版本备份/dist/static/js/vendor.d5f1789c40079e183d48.js.map
版本备份/dist/index.html
版本备份/dist-ch/static/css/app.e2ab19a54a6eda0e8dfa4fc1e02e2b5e.css
版本备份/dist-ch/static/css/app.e2ab19a54a6eda0e8dfa4fc1e02e2b5e.css.map
版本备份/dist-ch/static/fonts/element-icons.6f0a763.ttf
版本备份/dist-ch/static/img/bg.6ba9a04.jpg
版本备份/dist-ch/static/js/app.ebb11a7c2bd1773a61d9.js
版本备份/dist-ch/static/js/app.ebb11a7c2bd1773a61d9.js.map
版本备份/dist-ch/static/js/manifest.3ad1d5771e9b13dbdad2.js
版本备份/dist-ch/static/js/manifest.3ad1d5771e9b13dbdad2.js.map
版本备份/dist-ch/static/js/vendor.076a38a4b901f18dc451.js
版本备份/dist-ch/static/js/vendor.076a38a4b901f18dc451.js.map
版本备份/dist-ch/index.html
lip-stick-dev-admin/static/css/main.bf7080d1764917ad7077e06d9e4f4ca5.css
lip-stick-dev-admin/static/fonts/element-icons.6f0a763.ttf
lip-stick-dev-admin/static/js/main.74be5ab369cee2a52418.js
lip-stick-dev-admin/static/js/manifest.3ad1d5771e9b13dbdad2.js
lip-stick-dev-admin/static/js/vendor.48f4088f4a2a9b9a814c.js
lip-stick-dev-admin/index.html
