html {
    width:100%;
    height:100%;
    background: #F7F6F2 ;
    }
    body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
    font-weight:400;
    margin:0;
    padding:0;
    }
    h1, h2, h3, h4, h4, h5 {
    margin:0;
    padding:0;
    }
    body {
    background-color:#FFFFFF;
    color:#444;
    font-family:Helvetica,Arial,sans-serif;
    font-size:14px;
    text-align:left;
    }
    select {
    font-size:12px;
    }
    table {
    border-collapse:collapse;
    }
    fieldset, img {
    border:0 none;
    }
    fieldset {
    margin:0;
    padding:0;
    }
    fieldset p {
    margin:0;
    padding:0 0 0 8px;
    }
    legend {
    display:none;
    }
    address, caption, em, strong, th, i {
    font-style:normal;
    font-weight:400;
    }
    table caption {
    margin-left:-1px;
    }
    hr {
    border-bottom:1px solid #FFFFFF;
    border-top:1px solid #E4E4E4;
    border-width:1px 0;
    clear:both;
    height:2px;
    margin:5px 0;
    overflow:hidden;
    }
    ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    }
    caption, th {
    text-align:left;
    }
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .flex-wrap{
      display:flex;
      -webkit-display:flex;
    }

    .text-l{
      text-align: left;
    }
    .text-c{
      text-align: center;
    }
    .text-r{
      text-align: right;
    }


    .custom-button-primary,.custom-button-default{
      color:#fff;
      height: 44px;
      border-radius: 4px;
      background: #EA6C34;
      border:none;
      width:100%;
      outline: none;
      cursor: pointer; 
    }
    .custom-button-default{
      background: #fff;
      color:#444;
      border: 1px solid #dcdfe6;
    }
    .custom-button-default[size="small"]{
      height: 32px;
      width:auto;
    }
    .custom-button-primary:hover{
      background: #E7895F;
    }
    .custom-button-default:hover{
      background: #fafafa;
    }
    .custom-button-primary:active{
      background: #E06027; 
    }
    .custom-button-default:active{
      background: #f0f0f0; 
    }

    /* 基本信息表单默认样式修改 */
    .base-info .el-form-item__label,.finance-info .el-form-item__label{
      font-size: 12px;
      font-weight: bold;
      color:#444;
    }
    .popper-class{
        color:#EA6C34; 
        font-size:12px;
    }

    .pagination .el-pagination.is-background .el-pager li:not(.disabled).active{
      color:#fff;
      background: #EA6C34;
    }
    .pagination .el-pagination.is-background .el-pager li:not( .active):hover{
      color:#EA6C34;
    }